//Active growings panel
#home
	.row
		.col-xs-6
			h2 Active cropings
		.col-xs-6.text-right
			.btn-group(role="group")
				a.btn.btn-success(href="#newGrow")
					span.glyphicon.glyphicon-plus-sign(aria-hidden="true") 
					| &nbsp; New Crop
	.row
		- var cultivosActivos = 0
		while cultivosActivos < 4
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				.panel.panel-default
					.panel-heading
						.row
							.col-xs-12
								h4
									a(id="verCultivo_#{cultivosActivos}" onclick="homeEvents.trigger('verCultivo',$(this));") White Widow november 2016

							.col-xs-12
								span.label.label-default Indoor
								| &nbsp;
								span.label.label-default Cutting
								| &nbsp;
								span.label.label-default 18 plants
								span.badge.pull-right 2  alerts


					.panel-body
						.row
							.col-xs-12
								p
									//Progress bar help
									a.small.text-muted(role="button", data-toggle="collapse", href="#collapseLeyendGrowingBar#{cultivosActivos}", aria-expanded="false", aria-controls="collapseLeyendGrowingBar#{cultivosActivos}")
										span.glyphicon.glyphicon-question-sign(aria-hidden="true") 
										| &nbsp;Leyend

									//glpApp wiki
									button.btn.btn-xs.btn-info.pull-right(aria-label="Left Align") White Widow Wiki

						//Leyend		
						.row
							.col-xs-12
								//Mod¡fy when use ddbb
								.collapse(id="collapseLeyendGrowingBar#{cultivosActivos}")
									span.label.label-success Growing
									| &nbsp;
									span.label.label-warning Blooming
									| &nbsp;
									span.label.label-primary Dry
									| &nbsp;
									span.label.label-default Curing
									p

							.col-xs-12
								//Growing progress bar
								.progress
									.progress-bar.progress-bar-success.progress-bar-striped(style="width:30%")
									.progress-bar.progress-bar-warning.progress-bar-striped(style="width:20%")
									span.pull-right 8 weeks &nbsp;

						.row
							.col-xs-12
								//End growing
								button.btn.btn-xs.btn-default(aria-label="Left Align") End growing and archive
								//Delete grow
								button.btn.btn-xs.btn-danger.pull-right(aria-label="Left Align") 
									span.glyphicon.glyphicon-trash(aria-hidden="true")

			//Modify loop when ddbb be use
			span.hide=cultivosActivos++ 

		.col-xs-12			
			p.text-right
				button.btn.btn-info(role="button", data-toggle="collapse", href="#collapseGrowingHistory", aria-expanded="false", aria-controls="collapseGrowingHistory") Grow history

	.row
		.col-xs-12
			.collapse.panel.panel-default#collapseGrowingHistory
				.panel-heading
					h4 Grow history
				.panel-body
					table.table.table-striped.table-hover
						thead
							tr
								td Grow name (Go to)
								td Type
								td # Plants
								td Start date
								td Total production
								td(colspan="2") Images

						tbody
							each cultivosActivos in [1, 2, 3, 4]
								tr
									td
										button.btn.btn-primary S.A.D. I 2015 &nbsp;

									td Indoor
									td 10
									td 2016/1/7
									td 300 gr
									td 
									td.text-right
										button.btn.btn-xs.btn-danger(aria-label="Left Align") 
											span.glyphicon.glyphicon-trash(aria-hidden="true")